In [23]:
import pandas as pd
import os
import matplotlib

In [24]:
path_to_training = os.path.join('data', 'train.csv')
path_to_test = os.path.join('data', 'test.csv')

In [25]:
df_training = pd.read_csv(path_to_training)
df_test = pd.read_csv(path_to_training)

C:\Users\ZBlas\AppData\Local\Temp\ipykernel_20192\1796590952.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_training = pd.read_csv(path_to_training)
C:\Users\ZBlas\AppData\Local\Temp\ipykernel_20192\1796590952.py:2: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  df_test = pd.read_csv(path_to_training)

In [26]:
df = pd.concat([df_training, df_test], axis=0)
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,...,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

Now, we begin to actually try to see how our dataset looks like.

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 200000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        200000 non-null  object
 1   Customer_ID               200000 non-null  object
 2   Month                     200000 non-null  object
 3   Name                      180030 non-null  object
 4   Age                       200000 non-null  object
 5   SSN                       200000 non-null  object
 6   Occupation                200000 non-null  object
 7   Annual_Income             200000 non-null  object
 8   Monthly_Inhand_Salary     169996 non-null  float64
 9   Num_Bank_Accounts         200000 non-null  int64
 10  Num_Credit_Card           200000 non-null  int64
 11  Interest_Rate             200000 non-null  int64
 12  Num_of_Loan               200000 non-null  object
 13  Type_of_Loan              177184 non-null  object
 14  Delay_from_due_date       200000 non-null  int64
 15  Num_of_Delayed_Payment    185996 non-null  object
 16  Changed_Credit_Limit      200000 non-null  object
 17  Num_Credit_Inquiries      196070 non-null  float64
 18  Credit_Mix                200000 non-null  object
 19  Outstanding_Debt          200000 non-null  object
 20  Credit_Utilization_Ratio  200000 non-null  float64
 21  Credit_History_Age        181940 non-null  object
 22  Payment_of_Min_Amount     200000 non-null  object
 23  Total_EMI_per_month       200000 non-null  float64
 24  Amount_invested_monthly   191042 non-null  object
 25  Payment_Behaviour         200000 non-null  object
 26  Monthly_Balance           197600 non-null  object
 27  Credit_Score              200000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 44.3+ MB

In [28]:
print(df['Month'].describe())

count      200000
unique          8
top       January
freq        25000
Name: Month, dtype: object

In [29]:
unique_values_month = df['Month'].unique
print(unique_values_month)

<bound method Series.unique of 0         January
1        February
2           March
3           April
4             May
           ...
99995       April
99996         May
99997        June
99998        July
99999      August
Name: Month, Length: 200000, dtype: object>

In [30]:
month_encoding = {
    'January': 1,
    'February': 2,
    'March': 3,
    'April': 4,
    'May': 5,
    'June': 6,
    'July': 7,
    'August': 8,
    'September': 9,
    'October': 10,
    'November': 11,
    'December': 12
}

In [31]:
df['month_encoded'] = df['Month'].map(month_encoding)
df = df.drop(['Month'],axis='columns')
df.head(5)

,ID,Customer_ID,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,...,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score,month_encoded
0,0x1602,CUS_0xd40,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good,1
1,0x1603,CUS_0xd40,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good,2
2,0x1604,CUS_0xd40,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,...,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good,3
3,0x1605,CUS_0xd40,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,...,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good,4
4,0x1606,CUS_0xd40,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,...,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good,5

In [32]:
print(df['Age'].describe())

count     200000
unique      1788
top           38
freq        5666
Name: Age, dtype: object

In [33]:
df['Is_Number'] = pd.to_numeric(df['Age'], errors='coerce')
non_numeric_records = df[df['Is_Number'].isna()]
print(non_numeric_records)

            ID Customer_ID              Name    Age          SSN  \
8       0x160e  CUS_0x21b1   Rick Rothackerj    28_  004-07-5839
54      0x1650  CUS_0x284a            Nadiaq    34_    #F%$D@*&8
58      0x1658  CUS_0x5407              Annk    30_  500-92-6408
71      0x1669  CUS_0x4157      Charlie Zhur    24_  070-19-1622
89      0x1687  CUS_0xc0ab          Soyoungd    33_  342-90-2649
...        ...         ...               ...    ...          ...
99908  0x25f66  CUS_0xa053         t Astridn  4808_  094-81-5856
99922  0x25f7c  CUS_0x2654               enj    38_  647-67-8889
99933  0x25f8b  CUS_0xb11c    Yinka Adegokej    38_  546-94-4789
99942  0x25f98  CUS_0xad4f  Sabina Zawadzkig    48_    #F%$D@*&8
99987  0x25fdd  CUS_0x8600    Sarah McBridec    28_  031-35-0942

          Occupation Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
8            _______      34847.84            3037.986667                  2
54            Lawyer    10909427.0                    NaN                  0
58     Media_Manager      34081.38                    NaN                  8
71            Doctor     114838.41            9843.867500                  2
89          Engineer      88640.24            7266.686667                  3
...              ...           ...                    ...                ...
99908         Writer      87695.34            7337.945000                  2
99922  Media_Manager    139664.96_           11777.746667                  3
99933        Manager      15319.65            1460.637500                  6
99942      Developer      22620.79            1722.065833                  6
99987      Architect      20002.88            1929.906667                 10

       Num_Credit_Card  ...  Credit_Utilization_Ratio      Credit_History_Age  \
8                    4  ...                 24.464031   26 Years and 7 Months
54                   1  ...                 26.947565   31 Years and 1 Months
58                   7  ...                 35.111552   14 Years and 9 Months
71                   5  ...                 27.813354  21 Years and 11 Months
89                   6  ...                 41.036168   25 Years and 6 Months
...                ...  ...                       ...                     ...
99908                7  ...                 28.147193   19 Years and 5 Months
99922                6  ...                 35.828569   29 Years and 9 Months
99933                7  ...                 24.846424   11 Years and 2 Months
99942                2  ...                 24.714779   29 Years and 9 Months
99987                8  ...                 30.614953   5 Years and 11 Months

      Payment_of_Min_Amount  Total_EMI_per_month Amount_invested_monthly  \
8                        No            18.816215        104.291825168246
54                       No           911.220179       930.3918977796665
58                      Yes            70.478333       199.7207654954979
71                       No           226.892792      254.57176724837916
89                       NM           135.173371        157.174788304235
...                     ...                  ...                     ...
99908                    No         65671.000000      168.79878418602146
99922                   Yes           423.731016      124.13474999025516
99933                   Yes            28.182033       45.61171819143637
99942                    No             0.000000       16.53218878920387
99987                   Yes            60.964772       43.72461709437765

                     Payment_Behaviour     Monthly_Balance Credit_Score  \
8       Low_spent_Small_value_payments  470.69062692529184     Standard
54                              !@9#%8  326.24183015224526         Good
58      Low_spent_Large_value_payments   260.9124018324295         Poor
71     High_spent_Large_value_payments   742.9221908300779     Standard
89     High_spent_Large_value_payments   674.3205073907143         Good
...                                ...                 ...          ...
99908  High_spent_Large_value_payments          804.995716     Standard
99922  High_spent_Large_value_payments          869.908901     Standard
99933  High_spent_Small_value_payments          332.269998     Standard
99942  High_spent_Large_value_payments          395.674395         Poor
99987  High_spent_Large_value_payments          328.301277     Standard

      month_encoded  Is_Number
8                 1        NaN
54                7        NaN
58                3        NaN
71                8        NaN
89                2        NaN
...             ...        ...
99908             5        NaN
99922             3        NaN
99933             6        NaN
99942             7        NaN
99987             4        NaN

[9878 rows x 29 columns]

There are a lot of examples where 'int' number has a '_' symbol at the end. Let us write a function to clear this up

In [34]:
import sys
sys.path.append(os.path.abspath('utils'))

In [35]:
from cleaning_tools import remove_trailing_character

In [36]:
df['Age without _'] = df['Age'].apply(lambda x: remove_trailing_character(x, '_'))

In [37]:
print(df['Age without _'].describe())

count     200000
unique      1728
top           38
freq        5988
Name: Age without _, dtype: object

In [38]:
df.drop(['Is_Number'], axis='columns')
df['Is_Number'] = pd.to_numeric(df['Age without _'], errors='coerce')
non_numeric_records = df[df['Is_Number'].isna()]
print(non_numeric_records)

Empty DataFrame
Columns: [ID, Customer_ID, Name, Age, SSN, Occupation, Annual_Income, Monthly_Inhand_Salary, Num_Bank_Accounts, Num_Credit_Card, Interest_Rate, Num_of_Loan, Type_of_Loan, Delay_from_due_date, Num_of_Delayed_Payment, Changed_Credit_Limit, Num_Credit_Inquiries, Credit_Mix, Outstanding_Debt, Credit_Utilization_Ratio, Credit_History_Age, Payment_of_Min_Amount, Total_EMI_per_month, Amount_invested_monthly, Payment_Behaviour, Monthly_Balance, Credit_Score, month_encoded, Is_Number, Age without _]
Index: []

[0 rows x 30 columns]

In [39]:
print(df['Is_Number'].describe())

count    200000.000000
mean        110.649700
std         686.243001
min        -500.000000
25%          24.000000
50%          33.000000
75%          42.000000
max        8698.000000
Name: Is_Number, dtype: float64

In [40]:
age_and_id = df[['Age without _', 'Customer_ID']]

In [41]:
age_and_id

      Age without _ Customer_ID
0                23   CUS_0xd40
1                23   CUS_0xd40
2              -500   CUS_0xd40
3                23   CUS_0xd40
4                23   CUS_0xd40
...             ...         ...
99995            25  CUS_0x942c
99996            25  CUS_0x942c
99997            25  CUS_0x942c
99998            25  CUS_0x942c
99999            25  CUS_0x942c

[200000 rows x 2 columns]

In [42]:
from cleaning_tools import voter

In [43]:
vt = voter(age_and_id, 'Customer_ID', 'Age without _')

Unique values in 'Age without _': ['23' '-500' '28' ... '4808' '2263' '1342']
Table for value '23':
      Age without _ Customer_ID
0                23   CUS_0xd40
1                23   CUS_0xd40
3                23   CUS_0xd40
4                23   CUS_0xd40
5                23   CUS_0xd40
...             ...         ...
99841            23  CUS_0x944e
99842            23  CUS_0x944e
99843            23  CUS_0x944e
99844            23  CUS_0x944e
99845            23  CUS_0x944e

[5308 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x519e    16
CUS_0xe09     16
CUS_0xacb0    16
CUS_0xa130    16
CUS_0x6aed    16
              ..
CUS_0x3ba0     2
CUS_0x792f     2
CUS_0x9f6c     2
CUS_0x8293     2
CUS_0xba7e     2
Name: count, Length: 541, dtype: int64
Updated table for value '23':
      Age without _ Customer_ID Customer_ID unified
0                23   CUS_0xd40          CUS_0x519e
1                23   CUS_0xd40          CUS_0x519e
3                23   CUS_0xd40          CUS_0x519e
4                23   CUS_0xd40          CUS_0x519e
5                23   CUS_0xd40          CUS_0x519e
...             ...         ...                 ...
99841            23  CUS_0x944e          CUS_0x519e
99842            23  CUS_0x944e          CUS_0x519e
99843            23  CUS_0x944e          CUS_0x519e
99844            23  CUS_0x944e          CUS_0x519e
99845            23  CUS_0x944e          CUS_0x519e

[5308 rows x 3 columns]
Table for value '-500':
      Age without _ Customer_ID
2              -500   CUS_0xd40
113            -500   CUS_0xff4
289            -500  CUS_0x4080
340            -500  CUS_0x9bc1
560            -500  CUS_0x2827
...             ...         ...
99531          -500  CUS_0x85dd
99541          -500  CUS_0xc22f
99762          -500  CUS_0x1b07
99937          -500  CUS_0xad4f
99963          -500  CUS_0x372c

[1772 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x1c5d    6
CUS_0x9891    6
CUS_0xb300    4
CUS_0x9c09    4
CUS_0x6deb    4
             ..
CUS_0x85dd    2
CUS_0xc22f    2
CUS_0x1b07    2
CUS_0xad4f    2
CUS_0x372c    2
Name: count, Length: 860, dtype: int64
Updated table for value '-500':
      Age without _ Customer_ID Customer_ID unified
2              -500   CUS_0xd40          CUS_0x1c5d
113            -500   CUS_0xff4          CUS_0x1c5d
289            -500  CUS_0x4080          CUS_0x1c5d
340            -500  CUS_0x9bc1          CUS_0x1c5d
560            -500  CUS_0x2827          CUS_0x1c5d
...             ...         ...                 ...
99531          -500  CUS_0x85dd          CUS_0x1c5d
99541          -500  CUS_0xc22f          CUS_0x1c5d
99762          -500  CUS_0x1b07          CUS_0x1c5d
99937          -500  CUS_0xad4f          CUS_0x1c5d
99963          -500  CUS_0x372c          CUS_0x1c5d

[1772 rows x 3 columns]
Table for value '28':
      Age without _ Customer_ID
8                28  CUS_0x21b1
9                28  CUS_0x21b1
10               28  CUS_0x21b1
11               28  CUS_0x21b1
12               28  CUS_0x21b1
...             ...         ...
99986            28  CUS_0x8600
99987            28  CUS_0x8600
99988            28  CUS_0x8600
99989            28  CUS_0x8600
99990            28  CUS_0x8600

[5936 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0xa77f    16
CUS_0x9614    16
CUS_0x4750    16
CUS_0x7974    16
CUS_0x8852    16
              ..
CUS_0x19a9     2
CUS_0x8983     2
CUS_0xb843     2
CUS_0x9e05     2
CUS_0x7c34     2
Name: count, Length: 593, dtype: int64
Updated table for value '28':
      Age without _ Customer_ID Customer_ID unified
8                28  CUS_0x21b1          CUS_0xa77f
9                28  CUS_0x21b1          CUS_0xa77f
10               28  CUS_0x21b1          CUS_0xa77f
11               28  CUS_0x21b1          CUS_0xa77f
12               28  CUS_0x21b1          CUS_0xa77f
...             ...         ...                 ...
99986            28  CUS_0x8600          CUS_0xa77f
99987            28  CUS_0x8600          CUS_0xa77f
99988            28  CUS_0x8600          CUS_0xa77f
99989            28  CUS_0x8600          CUS_0xa77f
99990            28  CUS_0x8600          CUS_0xa77f

[5936 rows x 3 columns]
Table for value '34':
      Age without _ Customer_ID
16               34  CUS_0x2dbc
17               34  CUS_0x2dbc
18               34  CUS_0x2dbc
19               34  CUS_0x2dbc
20               34  CUS_0x2dbc
...             ...         ...
99798            34  CUS_0x334b
99799            34  CUS_0x334b
99901            34  CUS_0x4986
99902            34  CUS_0x4986
99903            34  CUS_0x4986

[5674 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x2dbc    16
CUS_0x810d    16
CUS_0xa5f9    16
CUS_0x19de    16
CUS_0x84bf    16
              ..
CUS_0x20e0     2
CUS_0x939      2
CUS_0x335e     2
CUS_0x89ff     2
CUS_0x98ba     2
Name: count, Length: 576, dtype: int64
Updated table for value '34':
      Age without _ Customer_ID Customer_ID unified
16               34  CUS_0x2dbc          CUS_0x2dbc
17               34  CUS_0x2dbc          CUS_0x2dbc
18               34  CUS_0x2dbc          CUS_0x2dbc
19               34  CUS_0x2dbc          CUS_0x2dbc
20               34  CUS_0x2dbc          CUS_0x2dbc
...             ...         ...                 ...
99798            34  CUS_0x334b          CUS_0x2dbc
99799            34  CUS_0x334b          CUS_0x2dbc
99901            34  CUS_0x4986          CUS_0x2dbc
99902            34  CUS_0x4986          CUS_0x2dbc
99903            34  CUS_0x4986          CUS_0x2dbc

[5674 rows x 3 columns]
Table for value '54':
      Age without _ Customer_ID
24               54  CUS_0xb891
25               54  CUS_0xb891
240              54  CUS_0x9a71
241              54  CUS_0x9a71
896              54  CUS_0x365a
...             ...         ...
99915            54  CUS_0x1619
99916            54  CUS_0x1619
99917            54  CUS_0x1619
99918            54  CUS_0x1619
99919            54  CUS_0x1619

[2622 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x365a    16
CUS_0x14b3    16
CUS_0x457e    16
CUS_0x567b    16
CUS_0x2913    16
              ..
CUS_0xb462     2
CUS_0x61f7     2
CUS_0x925      2
CUS_0xaf1e     2
CUS_0xf8d      2
Name: count, Length: 268, dtype: int64
Updated table for value '54':
      Age without _ Customer_ID Customer_ID unified
24               54  CUS_0xb891          CUS_0x365a
25               54  CUS_0xb891          CUS_0x365a
240              54  CUS_0x9a71          CUS_0x365a
241              54  CUS_0x9a71          CUS_0x365a
896              54  CUS_0x365a          CUS_0x365a
...             ...         ...                 ...
99915            54  CUS_0x1619          CUS_0x365a
99916            54  CUS_0x1619          CUS_0x365a
99917            54  CUS_0x1619          CUS_0x365a
99918            54  CUS_0x1619          CUS_0x365a
99919            54  CUS_0x1619          CUS_0x365a

[2622 rows x 3 columns]
Table for value '55':
      Age without _ Customer_ID
26               55  CUS_0xb891
27               55  CUS_0xb891
28               55  CUS_0xb891
29               55  CUS_0xb891
30               55  CUS_0xb891
...             ...         ...
98779            55  CUS_0xab5f
98780            55  CUS_0xab5f
98781            55  CUS_0xab5f
98782            55  CUS_0xab5f
98783            55  CUS_0xab5f

[2732 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0xab5f    16
CUS_0x2c0d    16
CUS_0xde6     16
CUS_0x109b    16
CUS_0x9fcc    16
              ..
CUS_0x57ea     2
CUS_0x691e     2
CUS_0x5b70     2
CUS_0x303a     2
CUS_0x215f     2
Name: count, Length: 269, dtype: int64
Updated table for value '55':
      Age without _ Customer_ID Customer_ID unified
26               55  CUS_0xb891          CUS_0xab5f
27               55  CUS_0xb891          CUS_0xab5f
28               55  CUS_0xb891          CUS_0xab5f
29               55  CUS_0xb891          CUS_0xab5f
30               55  CUS_0xb891          CUS_0xab5f
...             ...         ...                 ...
98779            55  CUS_0xab5f          CUS_0xab5f
98780            55  CUS_0xab5f          CUS_0xab5f
98781            55  CUS_0xab5f          CUS_0xab5f
98782            55  CUS_0xab5f          CUS_0xab5f
98783            55  CUS_0xab5f          CUS_0xab5f

[2732 rows x 3 columns]
Table for value '21':
      Age without _ Customer_ID
32               21  CUS_0x1cdb
33               21  CUS_0x1cdb
34               21  CUS_0x1cdb
35               21  CUS_0x1cdb
36               21  CUS_0x1cdb
...             ...         ...
99955            21  CUS_0x2084
99956            21  CUS_0x2084
99957            21  CUS_0x2084
99958            21  CUS_0x2084
99959            21  CUS_0x2084

[5432 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x18ef    16
CUS_0x7812    16
CUS_0x3d51    16
CUS_0x4256    16
CUS_0x4eb4    16
              ..
CUS_0x4d1b     2
CUS_0x9c09     2
CUS_0x5840     2
CUS_0x902e     2
CUS_0x27e5     2
Name: count, Length: 553, dtype: int64
Updated table for value '21':
      Age without _ Customer_ID Customer_ID unified
32               21  CUS_0x1cdb          CUS_0x18ef
33               21  CUS_0x1cdb          CUS_0x18ef
34               21  CUS_0x1cdb          CUS_0x18ef
35               21  CUS_0x1cdb          CUS_0x18ef
36               21  CUS_0x1cdb          CUS_0x18ef
...             ...         ...                 ...
99955            21  CUS_0x2084          CUS_0x18ef
99956            21  CUS_0x2084          CUS_0x18ef
99957            21  CUS_0x2084          CUS_0x18ef
99958            21  CUS_0x2084          CUS_0x18ef
99959            21  CUS_0x2084          CUS_0x18ef

[5432 rows x 3 columns]
Table for value '31':
      Age without _ Customer_ID
40               31  CUS_0x95ee
41               31  CUS_0x95ee
42               31  CUS_0x95ee
43               31  CUS_0x95ee
44               31  CUS_0x95ee
...             ...         ...
99883            31  CUS_0x47fa
99884            31  CUS_0x47fa
99885            31  CUS_0x47fa
99886            31  CUS_0x47fa
99887            31  CUS_0x47fa

[5910 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0xa4e0    16
CUS_0x2584    16
CUS_0x47fa    16
CUS_0x95ee    16
CUS_0x89e     16
              ..
CUS_0x4b44     2
CUS_0x1df1     2
CUS_0xa872     2
CUS_0x40d9     2
CUS_0x5b87     2
Name: count, Length: 579, dtype: int64
Updated table for value '31':
      Age without _ Customer_ID Customer_ID unified
40               31  CUS_0x95ee          CUS_0xa4e0
41               31  CUS_0x95ee          CUS_0xa4e0
42               31  CUS_0x95ee          CUS_0xa4e0
43               31  CUS_0x95ee          CUS_0xa4e0
44               31  CUS_0x95ee          CUS_0xa4e0
...             ...         ...                 ...
99883            31  CUS_0x47fa          CUS_0xa4e0
99884            31  CUS_0x47fa          CUS_0xa4e0
99885            31  CUS_0x47fa          CUS_0xa4e0
99886            31  CUS_0x47fa          CUS_0xa4e0
99887            31  CUS_0x47fa          CUS_0xa4e0

[5910 rows x 3 columns]
Table for value '33':
      Age without _ Customer_ID
48               33  CUS_0x284a
89               33  CUS_0xc0ab
90               33  CUS_0xc0ab
91               33  CUS_0xc0ab
92               33  CUS_0xc0ab
...             ...         ...
99946            33  CUS_0x51b3
99947            33  CUS_0x51b3
99948            33  CUS_0x51b3
99949            33  CUS_0x51b3
99951            33  CUS_0x51b3

[5086 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0xbf6b    16
CUS_0xa2cd    16
CUS_0x4c49    16
CUS_0x4de8    16
CUS_0x4479    16
              ..
CUS_0x6cae     2
CUS_0x7f0b     2
CUS_0xbb6e     2
CUS_0x98f9     2
CUS_0x284a     2
Name: count, Length: 530, dtype: int64
Updated table for value '33':
      Age without _ Customer_ID Customer_ID unified
48               33  CUS_0x284a          CUS_0xbf6b
89               33  CUS_0xc0ab          CUS_0xbf6b
90               33  CUS_0xc0ab          CUS_0xbf6b
91               33  CUS_0xc0ab          CUS_0xbf6b
92               33  CUS_0xc0ab          CUS_0xbf6b
...             ...         ...                 ...
99946            33  CUS_0x51b3          CUS_0xbf6b
99947            33  CUS_0x51b3          CUS_0xbf6b
99948            33  CUS_0x51b3          CUS_0xbf6b
99949            33  CUS_0x51b3          CUS_0xbf6b
99951            33  CUS_0x51b3          CUS_0xbf6b

[5086 rows x 3 columns]
Table for value '7580':
   Age without _ Customer_ID
56          7580  CUS_0x5407
56          7580  CUS_0x5407
Value counts for 'Customer_ID':
Customer_ID
CUS_0x5407    2
Name: count, dtype: int64
Updated table for value '7580':
   Age without _ Customer_ID Customer_ID unified
56          7580  CUS_0x5407          CUS_0x5407
56          7580  CUS_0x5407          CUS_0x5407
Table for value '30':
      Age without _ Customer_ID
57               30  CUS_0x5407
58               30  CUS_0x5407
59               30  CUS_0x5407
60               30  CUS_0x5407
61               30  CUS_0x5407
...             ...         ...
99619            30  CUS_0xae66
99620            30  CUS_0xae66
99648            30  CUS_0x2e91
99702            30  CUS_0x1ea8
99703            30  CUS_0x1ea8

[5454 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x1c83    16
CUS_0x1ca9    16
CUS_0xb080    16
CUS_0x2a30    16
CUS_0xb68e    16
              ..
CUS_0x3077     2
CUS_0x50e2     2
CUS_0x60f5     2
CUS_0x4c9a     2
CUS_0x2e91     2
Name: count, Length: 537, dtype: int64
Updated table for value '30':
      Age without _ Customer_ID Customer_ID unified
57               30  CUS_0x5407          CUS_0x1c83
58               30  CUS_0x5407          CUS_0x1c83
59               30  CUS_0x5407          CUS_0x1c83
60               30  CUS_0x5407          CUS_0x1c83
61               30  CUS_0x5407          CUS_0x1c83
...             ...         ...                 ...
99619            30  CUS_0xae66          CUS_0x1c83
99620            30  CUS_0xae66          CUS_0x1c83
99648            30  CUS_0x2e91          CUS_0x1c83
99702            30  CUS_0x1ea8          CUS_0x1c83
99703            30  CUS_0x1ea8          CUS_0x1c83

[5454 rows x 3 columns]
Table for value '24':
      Age without _ Customer_ID
69               24  CUS_0x4157
70               24  CUS_0x4157
71               24  CUS_0x4157
616              24  CUS_0x6856
617              24  CUS_0x6856
...             ...         ...
99832            24  CUS_0x8788
99833            24  CUS_0x8788
99846            24  CUS_0x944e
99847            24  CUS_0x944e
99992            24  CUS_0x942c

[5428 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x466e    16
CUS_0x61e4    16
CUS_0x4cb8    16
CUS_0xaac2    16
CUS_0x348a    16
              ..
CUS_0x1145     2
CUS_0x15cc     2
CUS_0xc208     2
CUS_0x543f     2
CUS_0x942c     2
Name: count, Length: 573, dtype: int64
Updated table for value '24':
      Age without _ Customer_ID Customer_ID unified
69               24  CUS_0x4157          CUS_0x466e
70               24  CUS_0x4157          CUS_0x466e
71               24  CUS_0x4157          CUS_0x466e
616              24  CUS_0x6856          CUS_0x466e
617              24  CUS_0x6856          CUS_0x466e
...             ...         ...                 ...
99832            24  CUS_0x8788          CUS_0x466e
99833            24  CUS_0x8788          CUS_0x466e
99846            24  CUS_0x944e          CUS_0x466e
99847            24  CUS_0x944e          CUS_0x466e
99992            24  CUS_0x942c          CUS_0x466e

[5428 rows x 3 columns]
Table for value '44':
      Age without _ Customer_ID
72               44  CUS_0xba08
73               44  CUS_0xba08
74               44  CUS_0xba08
75               44  CUS_0xba08
76               44  CUS_0xba08
...             ...         ...
99868            44  CUS_0x1d18
99869            44  CUS_0x1d18
99870            44  CUS_0x1d18
99871            44  CUS_0x1d18
99968            44   CUS_0xf16

[5648 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0xbd2e    16
CUS_0x1044    16
CUS_0x2f03    16
CUS_0x559c    16
CUS_0xc142    16
              ..
CUS_0x4d7e     2
CUS_0x4bfb     2
CUS_0x47b2     2
CUS_0xc247     2
CUS_0xf16      2
Name: count, Length: 573, dtype: int64
Updated table for value '44':
      Age without _ Customer_ID Customer_ID unified
72               44  CUS_0xba08          CUS_0xbd2e
73               44  CUS_0xba08          CUS_0xbd2e
74               44  CUS_0xba08          CUS_0xbd2e
75               44  CUS_0xba08          CUS_0xbd2e
76               44  CUS_0xba08          CUS_0xbd2e
...             ...         ...                 ...
99868            44  CUS_0x1d18          CUS_0xbd2e
99869            44  CUS_0x1d18          CUS_0xbd2e
99870            44  CUS_0x1d18          CUS_0xbd2e
99871            44  CUS_0x1d18          CUS_0xbd2e
99968            44   CUS_0xf16          CUS_0xbd2e

[5648 rows x 3 columns]
Table for value '45':
      Age without _ Customer_ID
78               45  CUS_0xba08
79               45  CUS_0xba08
136              45   CUS_0xfdb
472              45  CUS_0x8f17
473              45  CUS_0x8f17
...             ...         ...
99970            45   CUS_0xf16
99971            45   CUS_0xf16
99973            45   CUS_0xf16
99974            45   CUS_0xf16
99975            45   CUS_0xf16

[5284 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x2508    16
CUS_0xc58     16
CUS_0x1cd1    16
CUS_0x6a84    16
CUS_0xa4f2    16
              ..
CUS_0x33b4     2
CUS_0xc90      2
CUS_0xa061     2
CUS_0x4b76     2
CUS_0x9165     2
Name: count, Length: 545, dtype: int64
Updated table for value '45':
      Age without _ Customer_ID Customer_ID unified
78               45  CUS_0xba08          CUS_0x2508
79               45  CUS_0xba08          CUS_0x2508
136              45   CUS_0xfdb          CUS_0x2508
472              45  CUS_0x8f17          CUS_0x2508
473              45  CUS_0x8f17          CUS_0x2508
...             ...         ...                 ...
99970            45   CUS_0xf16          CUS_0x2508
99971            45   CUS_0xf16          CUS_0x2508
99973            45   CUS_0xf16          CUS_0x2508
99974            45   CUS_0xf16          CUS_0x2508
99975            45   CUS_0xf16          CUS_0x2508

[5284 rows x 3 columns]
Table for value '40':
      Age without _ Customer_ID
80               40  CUS_0xa66b
81               40  CUS_0xa66b
82               40  CUS_0xa66b
83               40  CUS_0xa66b
84               40  CUS_0xa66b
...             ...         ...
99851            40  CUS_0x3048
99852            40  CUS_0x3048
99853            40  CUS_0x3048
99854            40  CUS_0x3048
99855            40  CUS_0x3048

[5218 rows x 2 columns]
Value counts for 'Customer_ID':
Customer_ID
CUS_0x3048    16
CUS_0xdfd     16
CUS_0xbffe    16
CUS_0x9bea    16
CUS_0x7840    16
              ..
CUS_0x7d0a     2
CUS_0xd7c      2
CUS_0xc156     2
CUS_0x5049     2
CUS_0x8a70     2
Name: count, Length: 521, dtype: int64
Updated table for value '40':
      Age without _ Customer_ID Customer_ID unified
80               40  CUS_0xa66b          CUS_0x3048
81               40  CUS_0xa66b          CUS_0x3048
82               40  CUS_0xa66b          CUS_0x3048
83               40  CUS_0xa66b          CUS_0x3048
84               40  CUS_0xa66b          CUS_0x3048
...             ...         ...                 ...
99851            40  CUS_0x3048          CUS_0x3048
99852            40  CUS_0x3048          CUS_0x3048
99853            40  CUS_0x3048          CUS_0x3048
99854            40  CUS_0x3048          CUS_0x3048
99855            40  CUS_0x3048          CUS_0x3048

[5218 rows x 3 columns]
Table for value '41':
      Age without _ Customer_ID
87               41  CUS_0xa66b
160              41  CUS_0x132f
161              41  CUS_0x132f
162              41  CUS_0x132f
163              41  CUS_0x132f

In [44]:
vt['Customer_ID unified']

       Age without _ Customer_ID Customer_ID unified
count         200000      200000              200000
unique          1728       12500                1626
top               38  CUS_0x7701          CUS_0xb11c
freq            5988          16                5988